In [1]:
my_list = [1,2,3,4,5]

In [3]:
for number in my_list:
    print(number)

1
2
3
4
5

#yukarıda ki kodun açıklaması benim listemdeki bütün elemanları al ve onları number diye bir degişkene ata

In [4]:
for item in my_list:
    new_number = item * 5
    print(new_number)

5
10
15
20
25

#yukarıdaki kod da ise en baştaki 12345 listesindeki bütün elemanları 5 le çarptı

In [13]:
for number in my_list:
    if number % 2 == 0:
        print(number)

2
4

#yukarıda çift sayıları yazdırmak için kullanılır

In [15]:
if 2 in my_list:
    print("true")

true

In [16]:
for num in my_list:
    if num == 2:
        print("true")

true

In [18]:
my_string = "James Hatfield"

In [23]:
for letter in my_string:
    print(letter)

J
a
m
e
s

H
a
t
f
i
e
l
d

In [32]:
my_tuple = (1,2,3)

In [35]:
for item in my_tuple:
    print(item * 5 - 10)

-5
0
5

In [36]:
my_new_list = [("a","b"),("c","d"),("e","f"),("g","h")]

In [38]:
for element in my_new_list:
    print(element)

('a', 'b')
('c', 'd')
('e', 'f')
('g', 'h')

In [39]:
for (x,y) in my_new_list:
    print(x,y)

a b
c d
e f
g h

In [40]:
for (x,y) in my_new_list:
    print(x)

a
c
e
g

In [41]:
for (x,y) in my_new_list:
    print(y)

b
d
f
h

In [46]:
my_tuple_list = [(0,1,2,),(3,4,5),(9,10,11)]

In [47]:
for (x,y,z) in my_tuple_list:
    print(z)

2
5
11

In [48]:
my_dictionary = {"key1":100,"key2":200,"key3":300}

In [50]:
for a,b in my_dictionary.items():
    print(a)

key1
key2
key3

In [51]:
for a,b in my_dictionary.items():
    print(b)

100
200
300

In [54]:
for (key,value) in my_dictionary.items():
    print(key)

key1
key2
key3

In [53]:
for key,value in my_dictionary.items():
    print(value)

100
200
300