In [1]:
my_list = [1,2,3,4,5,6,7]

In [2]:
for number in my_list:
    print(number)

1
2
3
4
5
6
7

### range

In [3]:
range(20)

range(0, 20)

In [4]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

range olarak verdigimiz sayı kaç ise o sayıya kadar alır listeye mesela, range(40) dersek 40 a kadar alır sayıyı listeye, çok fazla sayılar içeren bir liste yapacagız 150 ye kadar olan sayıları içerecek olsun mesela tek tek elle yazamak yerine range(150) dersen 0 dan 150  e kadar olan (150) dahil değil listeye alır

In [10]:
for number in list(range(20)):
    print(number * 5 )

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

0 dan belirli bir sayıya kadar değil belirli sayı aralıklarını da kullanabiliriz aşgıdaki gibi

In [12]:
for num in list(range(5,21)):
    print(num)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

aşagıda da 5 den 21 e kadar yazdır 3 er 3 er atlayarak yazdır dşyebiliyoruz (5,21,3) dedigimizdeki sonda bulunan 3 atlanılarak saylacak rakan oluyor

In [13]:
for num in list(range(5,21,3)):
    print(num)

5
8
11
14
17
20

In [14]:
for num in list(range(5,21,4)):
    print(num)

5
9
13
17

## enumerate

hem numarayı  hemde onunla birlikte kaçıncı indexte oldugunu yazdırmak için kullanırız hem normal yoldan yapmayı hemde kolay yolu aşagıda görebiliriz

In [17]:
index = 0
for number in list(range(5,15)):
    print(f"no: {number} ix: {index}")
    index += 1

no: 5 ix: 0
no: 6 ix: 1
no: 7 ix: 2
no: 8 ix: 3
no: 9 ix: 4
no: 10 ix: 5
no: 11 ix: 6
no: 12 ix: 7
no: 13 ix: 8
no: 14 ix: 9

In [18]:
for element in enumerate(list(range(5,15))):
    print(element)

(0, 5)
(1, 6)
(2, 7)
(3, 8)
(4, 9)
(5, 10)
(6, 11)
(7, 12)
(8, 13)
(9, 14)

yukarıda ilk index sonra  degeri yanı bizim atadıgımız numarayı verdi

In [19]:
for (index,number) in enumerate(list(range(5,15))):
    print(number,index)

5 0
6 1
7 2
8 3
9 4
10 5
11 6
12 7
13 8
14 9

In [20]:
for (index,number) in enumerate(list(range(5,15))):
    print(index,number)

0 5
1 6
2 7
3 8
4 9
5 10
6 11
7 12
8 13
9 14

In [21]:
for (index,number) in enumerate(list(range(5,15))):
    print(index)
    print(number)

0
5
1
6
2
7
3
8
4
9
5
10
6
11
7
12
8
13
9
14

yukarıda ilk index sonra numara , ilk numara sonra index , alt alta yazma gibi değişik biçimler yaptık

## random

In [2]:
from random import randint

In [5]:
randint(0,1000)

757

In [6]:
randint(0,1000)

942

In [8]:
my_list_2 = list(range(0,10))

In [9]:
my_list_2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
from random import shuffle

In [12]:
shuffle(my_list_2)

In [13]:
my_list_2

[4, 5, 0, 9, 7, 1, 2, 6, 8, 3]

11 ve 13 deki kodlar listeyi karıştırmak için kullanılır shuffle koduyla karıştırdık

## zip

In [14]:
sport_list = ["run","swim","basketball"]

In [15]:
calories_list = [100,200,300]

In [16]:
day_list = ["monday","tuesday","wednesday"]

In [17]:
zip(sport_list,calories_list,day_list)

zip komutu yukarıdaki gibi listeleri birleştirmek için kullanılır  altındaki kod ise kaydettigi yerin ismi
 ama ben onu yeni listeye eşitleyecegim

In [22]:
new_list = list(zip(sport_list,calories_list,day_list))

In [23]:
new_list

[('run', 100, 'monday'),
 ('swim', 200, 'tuesday'),
 ('basketball', 300, 'wednesday')]

In [25]:
for element in new_list:
    print(element)

('run', 100, 'monday')
('swim', 200, 'tuesday')
('basketball', 300, 'wednesday')

## list advanced

In [4]:
new_list = []
my_string = "metallica"

for element in my_string:
    new_list.append(element)

In [5]:
new_list

['m', 'e', 't', 'a', 'l', 'l', 'i', 'c', 'a']

In [6]:
new_list = [element for element in my_string]

In [7]:
new_list

['m', 'e', 't', 'a', 'l', 'l', 'i', 'c', 'a']

4. satırda yaptıgım işlemle 6. satırda yaptıgım işlem aynı

In [11]:
new_list_2 = [number**5 for number in list(range(0,10))]

In [12]:
new_list_2

[0, 1, 32, 243, 1024, 3125, 7776, 16807, 32768, 59049]